@tailwind base;
@tailwind components;
@tailwind utilities;

..item {
    transition: transform 0.2s;
}

..item:hover {
    transform: scale(1.5);
}

..item:hover ~ .item {
    transform: scale(1.5);
}

..item:hover ~ .item ~ .item {
    transform: scale(1.24);
}

..item:hover + .item:hover ~ .item {
    transform: scale(1.5);
}

..item:hover ~ .item:hover ~ .item {
    transform: scale(1.24);
}

..item:not(:hover):not(.item:hover ~ .item):not(.item:hover ~ .item ~ .item):not(.item:hover ~ .item:hover ~ .item) {
    transform: scale(1);
}

@layer base {
    /* .dock > .item:hover {
        @apply scale-150;
    } 
    .dock > .item:hover + .item{
        @apply scale-125;
    } 
    .dock:hover{
        @apply scale-x-110;
    } */
    .dock{
        @apply ease-in-out bg-black/15 backdrop-blur-sm p-2 rounded-xl flex flex-row gap-2 transition-all;
    }
}