@tailwind base;
@tailwind components;
@tailwind utilities;

.dock-item {
            transition: transform 0.2s;
        }

        .dock-item:hover {
            transform: scale(1.5);
        }

        .dock-item:hover ~ .dock-item {
            transform: scale(1.5);
        }

        .dock-item:hover ~ .dock-item ~ .dock-item {
            transform: scale(1.24);
        }

        .dock-item:hover + .dock-item:hover ~ .dock-item {
            transform: scale(1.5);
        }

        .dock-item:hover ~ .dock-item:hover ~ .dock-item {
            transform: scale(1.24);
        }

        .dock-item:not(:hover):not(.dock-item:hover ~ .dock-item):not(.dock-item:hover ~ .dock-item ~ .dock-item):not(.dock-item:hover ~ .dock-item:hover ~ .dock-item) {
            transform: scale(1);
        }

@layer base {
    /* .dock > .item:hover {
        @apply scale-150;
    } 
    .dock > .item:hover + .item{
        @apply scale-125;
    } 
    .dock:hover{
        @apply scale-x-110;
    } */
    .dock{
        @apply ease-in-out bg-black/15 backdrop-blur-sm p-2 rounded-xl flex flex-row gap-2 transition-all;
    }
}