@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1c;

    --card: #ffffff;
    --card-foreground: #1c1c1c;

    --popover: #ffffff;
    --popover-foreground: #1c1c1c;

    --primary: #2e2e3b;
    --primary-foreground: #f0f8ff;

    --secondary: #d3e3ff;
    --secondary-foreground: #2e2e3b;

    --muted: #d3e3ff;
    --muted-foreground: #8494a2;

    --accent: #d3e3ff;
    --accent-foreground: #2e2e3b;

    --destructive: #e63946;
    --destructive-foreground: #f0f8ff;

    --border: #d3dfe9;
    --input: #d3dfe9;
    --ring: #1c1c1c;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1c1c1c;
    --foreground: #f0f8ff;

    --card: #1c1c1c;
    --card-foreground: #f0f8ff;

    --popover: #1c1c1c;
    --popover-foreground: #f0f8ff;

    --primary: #f0f8ff;
    --primary-foreground: #2e2e3b;

    --secondary: #2d3b5a;
    --secondary-foreground: #f0f8ff;

    --muted: #2d3b5a;
    --muted-foreground: #a3b3c8;

    --accent: #2d3b5a;
    --accent-foreground: #f0f8ff;

    --destructive: #661818;
    --destructive-foreground: #f0f8ff;

    --border: #2d3b5a;
    --input: #2d3b5a;
    --ring: #bbc2d1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-back1 bg-cover text-foreground;
  }
}
